Declining  Fertility Rates
Collaborators: John Iglesias

In [19]:
import requests
import pandas as pd
pd.set_option("display.max_rows", 20000)

Introduction

The purpose of this project is to walk through a data science pipeline while 
exploring the world's fertility rate trends and its relationship with
global GDP (gross domestic output). Several countries around the globe have
experienced decreasing fertility rates for the past few decades which has
raised some ears

Data Processing

In [23]:

def getBirthRateData() -> pd.DataFrame:
    # Get a list of all country codes
    url = "http://api.worldbank.org/v2/country/all?per_page=500&format=json"
    response = requests.get(url)
    country_codes = [c['id'] for c in response.json()[1]]

    # Retrieve birth rate data for each country
    data = []
    for country_code in country_codes:
        url = f"http://api.worldbank.org/v2/country/{country_code}/indicator/SP.DYN.CBRT.IN"
        params = {
            "format": "json",
            "date": "1970:2020",
        }
        response = requests.get(url, params=params)
        response_json = response.json()
        # Check if the response is valid before iterating over it
        if len(response_json) > 1:
            if response_json[1]:
                for entry in response_json[1]:
                    data.append({
                        "country": entry["country"]["value"],
                        "date": entry["date"],
                        "birth_rate": entry["value"],
                    })

    # Convert the data to a pandas DataFrame
    df = pd.DataFrame(data)
    return df

In [27]:
df = getBirthRateData()
df.head(10)

  country  date  birth_rate
0   Aruba  2020       8.102
1   Aruba  2019       9.138
2   Aruba  2018       9.881
3   Aruba  2017      11.530
4   Aruba  2016      12.300
5   Aruba  2015      12.428
6   Aruba  2014      13.533
7   Aruba  2013      13.316
8   Aruba  2012      12.723
9   Aruba  2011      12.246

In [25]:
# #remove NaNs entries within birth_rate
# birthRateDF = birthRateDF.dropna()

# #check if there are any rows that are NaN
# nan_rows = birthRateDF[birthRateDF["birth_rate"].isna()]
# nan_rows

Empty DataFrame
Columns: [country, date, birth_rate]
Index: []